<p id="notice"><%= notice %></p>



<div class="title" id="title2"> <%= @article.title %> </div>


<div class="title">Ruby on Rails (рубины на рельсах) - это интернет среда с открытым кодом для
  разработки интернет приложений заднего плана, использующих базы данных. Она оптимизирована
  для устойчивой производительности программиста поскольку позволяет ему писать код, используя
  условные обозначения в конфигурации.</div>
<div>
  <ul class="hr">
  <div>
    <ul class="hr">
    <li><%= link_to 'Edit', edit_article_path(@article) %> </li>
    <li><%= link_to 'Back', articles_path %></li>
    </ul>
  </div>
    </ul>
</div>


</div>